@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: hsl(205deg, 18%, 27%);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}

.container {
  margin-top: 4rem;
  margin: 0 2rem;
  max-width: 900px;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: hsl(240deg, 5%, 96%);
  text-align: center;
  margin-bottom: 2rem;
}

details {
  border: 2px solid hsl(0deg, 0%, 67%);
  border-radius: 15px;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5em 0.5em 0;
  width: 100%;
  background-color: hsl(240deg, 5%, 96%);
}

summary {
  background-color: hsl(240deg, 5%, 96%);
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 700;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  overflow: hidden;
  outline: none;
  border: none;
}

details[open] summary ~ * {
  -webkit-animation: sweep 0.5s ease-in-out;
          animation: sweep 0.5s ease-in-out;
}

@-webkit-keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding: 3rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  max-width: 400px;
  overflow: hidden;
  background: hsl(205deg, 18%, 27%); /* fallback for old browsers */
  background: linear-gradient(138deg, rgba(56, 70, 80, 0.8) 0%, rgba(3, 20, 80, 0.5) 50%, #24384d 100%);
  color: hsl(240deg, 5%, 96%);
  border-radius: 15px;
  border: 1px solid #000;
  -webkit-box-shadow: 0 0.5rem 1rem hsl(311deg, 5%, 55%);
          box-shadow: 0 0.5rem 1rem hsl(311deg, 5%, 55%);
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.card:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 1.25rem 1.25rem hsla(0deg, 0%, 0%, 0.4);
          box-shadow: 0 1.25rem 1.25rem hsla(0deg, 0%, 0%, 0.4);
}
.card__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  font-size: 5rem;
  padding: 1rem;
  margin: 1rem auto;
  color: hsl(240deg, 5%, 96%);
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1rem;
}
.card__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}
.card__snippet {
  margin-bottom: 0.5rem;
  text-align: center;
}

.card__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 1.25rem;
}
.card__links a {
  padding: 0.5rem 1.25rem;
  margin-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
  color: hsl(0deg, 0%, 20%);
  border-radius: 999px;
  -webkit-box-shadow: 0 0.25rem 0.25rem hsla(0deg, 0%, 0%, 0.4);
          box-shadow: 0 0.25rem 0.25rem hsla(0deg, 0%, 0%, 0.4);
  background-color: hsl(240deg, 5%, 96%);
}
.card__links a:hover {
  -webkit-box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.4);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.links i {
  font-size: 2rem;
}
.links a {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(240deg, 5%, 96%);
  text-align: center;
}

footer {
  position: flex;
  width: 100%;
  bottom: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer h4 {
  font-weight: 400;
  font-size: 1.5rem;
  color: hsl(240deg, 5%, 96%);
}/*# sourceMappingURL=main.css.map */