@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 234;
  --background: var(--hue) 85.7% 89%;
  --surface: var(--hue) 100% 98.5%;
  --text: var(--hue) 60% 21%;
  --shadow-color: var(--hue) 34% 56%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  background-image: conic-gradient(from 90deg at 50% 125%, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00);
  font-family: "Raleway", sans-serif;
  min-height: 110vh;
  overflow-y: scroll;
}

main {
  display: grid;
  gap: 4rem;
  place-items: center;
  color: hsl(var(--text));
  padding: clamp(1rem, 1.5vw, 2rem);
  min-height: 110vh;
}

.container {
  max-width: 900px;
  width: 100%;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 1.1;
  font-weight: 700;
  color: hsl(var(--text));
  text-align: center;
  margin-bottom: 1rem;
}

.accordion-btn img {
  width: 50px;
}

a:is(:link, :visited) {
  color: hsl(var(--text));
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  max-width: 350px;
  overflow: hidden;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: var(--text);
  border-radius: 0.5rem;
  border: 1px solid #000;
  -webkit-box-shadow: 0 0.5rem 1rem hsl(311, 5%, 55%);
          box-shadow: 0 0.5rem 1rem hsl(311, 5%, 55%);
  text-decoration: none;
}
.card:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 1.25rem 1.25rem hsla(0, 0%, 0%, 0.4);
          box-shadow: 0 1.25rem 1.25rem hsla(0, 0%, 0%, 0.4);
}
.card__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  font-size: 5rem;
  padding: 1rem;
  margin: 1rem auto;
  color: var(--text);
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1rem;
}
.card__title {
  color: var(--text);
  font-size: clamp(1.5rem, 4vw, 2.75rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}
.card__snippet {
  color: var(--text);
  font-size: clamp(1.25rem, 4vw, 1.75rem);
  margin-bottom: 0.5rem;
  text-align: center;
}

.card__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 1.25rem;
}
.card__links a {
  padding: 0.5rem 1.25rem;
  margin-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
  color: hsl(0, 0%, 20%);
  border-radius: 999px;
  -webkit-box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.4);
          box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.4);
  background-color: hsl(240, 5%, 96%);
}
.card__links a:hover {
  -webkit-box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.4);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.links i {
  font-size: 2rem;
}
.links a {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(240, 5%, 96%);
  text-align: center;
}/*# sourceMappingURL=main.css.map */