@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 234;
  --background: var(--hue) 85.7% 89%;
  --surface: var(--hue) 100% 98.5%;
  --text: var(--hue) 60% 21%;
  --shadow-color: var(--hue) 34% 56%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  overflow-y: scroll;
}

main {
  display: grid;
  gap: 4rem;
  place-items: center;
  color: hsl(var(--text));
  padding: clamp(1rem, 1rem, 1rem);
  min-height: 100vh;
}

.container {
  max-width: 900px;
  width: 100%;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 1.1;
  font-weight: 700;
  color: hsl(var(--text));
  text-align: center;
  margin-bottom: 1rem;
}

.accordion-btn img {
  width: 50px;
}

a:is(:link, :visited){
  color: hsl(var(--text));
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 250px;
  max-width: 350px;
  overflow: hidden;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: var(--text);
  border-radius: .5rem;
  border: 1px solid #000;
  box-shadow: 0 0.5rem 1rem hsl(311, 5%, 55%);
  text-decoration: none;

  &:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 1.25rem 1.25rem hsla(0, 0%, 0%, 0.4);
  }

  &__image {
    flex: 0 0 100px;
    font-size: 5rem;
    padding: 1rem;
    margin: 1rem auto;
    // color: hsl(240, 5%, 96%);
    color: var(--text);

  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }

  &__title {
    color: var(--text);
    font-size: clamp(1.5rem, 4vw, 2.75rem);
    font-weight: 700;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  &__snippet {
    color: var(--text);
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
.card__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.25rem;
  a {
    padding: .5rem 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2;
    color: hsl(0, 0%, 20%);
    border-radius: 999px;
    box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.4);
    background-color: hsl(240, 5%, 96%);
    &:hover {
      box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.4);
      background-color: hsl(240, 5%, 90%);
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  & i {
    font-size: 2rem;
  }
  & a {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(240, 5%, 96%);
    text-align: center;
  }
}
